.course_action_element {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0px;
    cursor: pointer;
}

.course_action_element img {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}