.course-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
    width: 40%;
    height: 4em;
    padding: 5px;
    background-color: #242554;
    border-radius: 8px;
    align-items: center;
}

.course-item_actions {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.course-item_actions_item {
    height: 30%;
}

.course-item_content {
    display: flex;
    flex-direction: column;
}

.course-name {
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0px;
}