.update_course_component {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.update_course_component img {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}